*,body{
  margin: 0;
  padding: 0;

}
.carousel-indicators button{
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
}

.cardgroup{  
  display: flex;
  justify-content: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 25px;
  box-shadow: 8px 4px 8px 4px  grey ;
  border-color: lightpink;
  border-style: solid;
}

.cardgroup img{
  width: 50px;
  display: grid;
  align-items: center;
  margin-left: 50%;
  transform: translate(-50%);
  padding-top: 25px;
}
.cardtitletext{
  text-align: center;
}

#registerform{
  display: none;
}
#loginsubmit{
  border-radius: 50px;

}
.formlogin{
  margin-top: 10%;
  
}
#navcenter{
margin-left: 14%;
}
#responsive-navbar-nav a {
  color: white;
  text-decoration: none;
  justify-content: space-evenly;

}
#responsive-navbar-nav a :hover{
  color: pink;
}
.logosnap{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  margin-right: 10px;
}
.titlelogo{
  font-family: 'Yomogi', cursive;
  font-size: 30px;
  line-height: 50px;
  color:lightcoral;
  text-decoration: none;
}
.titlelogo:hover{
  color: lightcoral;
}
.frontservicecard{
  /* background-color: red; */
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  width: 90%;
}

.productcard{
  /* background-color: lightpink; */
 margin-top: 1%;
}

.pcard:hover{ 
  transition: ease-out;
  transition-duration: 0.5s;
  /* background-color:black; */
  box-shadow: 4px 6px 6px 5px grey;
}
.newcollectiontext{
  font-family: 'Share Tech Mono', monospace;
}
.pfoot{
  font-family: 'Unica One', cursive;
}

.card-img-topservicehome{
  width: 100px !important;
  display: flex;
  /* justify-content: center !important; */
  margin-left: 29%;
  border-radius: 50px;
  margin-top: 5px;
}
.cartcard{
  margin-top: 1%;
  /* margin-right: 30%; */
  width: 50%;
  margin-left: 10%;
}

@media screen and (max-width: 1200px) {
  #navcenter{
    margin-left:0;
    }
    .cartcard{
      margin-top: 2%;
      /* margin-right: 30%; */
      width:100%;
      margin-left: 0%;

    }
}
@media screen and (max-width: 480px) {
  .cardgroup {
    display:grid;
    margin: 0;
    margin-top: 30%;
    margin-top: 20px;
  }
}
















